/* Reset des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav h1 {
    margin: 0;
}

.onglets {
    display: flex;
    justify-content: center;
    list-style: none;
}

.onglets a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header {
    text-align: center;
    padding: 20px 0;
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Largeur de la carte */
}

.image-container {
    position: relative;
}

.model-image {
    width: 100%; /* Redimensionne l'image pour remplir la largeur de la carte */
    height: auto; /* Hauteur ajustée automatiquement */
    display: block;
}

.nav-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-arrows .prev, .nav-arrows .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.card-details {
    padding: 20px;
}

.card-details h2 {
    margin-bottom: 10px;
}

.card-details p {
    margin-bottom: 20px;
}

.card-details a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-details a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
}

.service {
    margin: 0 10px;
}

.service p {
    margin: 0;
}
